</div>
        <script type="text/javascript" src="{{base_url}}/js/jquery-2.2.0.min.js"></script>	
        <script type="text/javascript" src="{{base_url}}/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{base_url}}/js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/twig_loader.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/app.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/posts.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/profile.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/friends.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/jquery.auto_html.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/search_friends.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/validation.js"></script>
		<script>
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
		</script>
		
    </body>
</html>
