</div>
        <script type="text/javascript" src="{{base_url}}/js/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js?v=2.1.2"></script>
        <script type="text/javascript" src="{{base_url}}/js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{base_url}}/offline.js/offline.min.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/twig_loader.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/app.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/posts.js"></script>
        {% if profileID is defined %}        
        <script type="text/javascript">
            viewed_User = "{{ profileID }}";
        </script>
        {% endif %}
        <script type="text/javascript" src="{{base_url}}/js/profile.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/friends.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/jquery.auto_html.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/search_friends.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/validation.js"></script>
        <script type="text/javascript" src="{{base_url}}/js/popusti.js"></script>
    </body>
</html>
