{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{base_url}}/css/register.css" />
        <link rel="stylesheet" href="{{base_url}}/css/base.css" />
        <link rel="stylesheet" href="{{base_url}}/js/jquery-ui-1.11.4/jquery-ui.min.css" />
        <link rel="stylesheet" href="{{base_url}}/offline.js/themes/offline-language-english.css" />
        <link rel="stylesheet" href="{{base_url}}/offline.js/themes/offline-theme-dark.css" />
        <link rel="stylesheet" href="{{base_url}}/offline.js/themes/offline-language-english-indicator.css" />
    </head>
    <body>
        <div class="container">
