

 
    <div class="sidebarBlock">
        <div class="center">
            <img class="myProfilePic" src="{{base_url}}/{{get_user_info.user_avatar}}" alt="profile picture">
            <h3 class="myName"> {{get_user_info.name}} {{get_user_info.surname}}</h3>
			<h4 class="college_name">{{get_user_info.collegeName}}</h4>
        </div>
    </div>
	
	<div class="sidebarBlockbottom"></div>
	
   <div class="sidebar-padding">
		<div class="sidebarMenu" id = "script_menu"> 
			<i class="glyphicon glyphicon-paperclip"></i> Skripte
			<ul style = "display:none;">
				<a href = "scripts.php"><li>Pregled skripti</li></a>
				<a href = "scripts.php?s=U"><li>Upload skripte</li></a>
				{% if is_admin %}
					<a href = "scripts.php?s=A"><li>Administracija skripti</li></a>
				{% endif %}
			</ul>
		</div>

    <a href="   "><div class="sidebarMenu"> <i class="glyphicon glyphicon-eur"></i> Pozovi kolege</div></a>
    <a href="   "><div class="sidebarMenu"> <i class="glyphicon glyphicon-education"></i> Grupe</div></a>
    <a href="   "><div class="sidebarMenu"> <i class="glyphicon glyphicon-tags"></i> Popusti</div></a>
	</div>
	


