<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid paddleftright">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false"> -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <div class="visible-xs">
	  <!-- <h6>IVRA - studentska mreža</h6> -->
	  </div>
      <a class="navbar-brand hidden-xs" href="{{base_url}}">
          <img alt="IVRA logo" src="{{base_url}}/page_imgs/logo3.ico">
		  <span class="stmreza"> studentska mreža </span>
      </a>
	  
    </div>
	
	<div id="navbar" class="">
  
      
      <ul class="nav navbar-nav navbar-right">
			<form class="navbar-form navbar-left hidden-xs" role="search">
        <div class="form-group">
            
            <li class="dropdown">
                <input id="search_friends" type="text" class="form-control dropdown-toggle" placeholder="Pronađi kolege..." data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <ul id="search_friends_dropdown" class="dropdown-menu">
                  
                </ul>
              </li>
        </div>
      </form>
	  
        <li><a href="{{base_url}}/naslovna"><i class="fa fa-home fa-2x"></i></a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle, notifications_bar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x"></i>
              {% if user_notifications.number > 0%}
              <span id="numOfNotifications" class="badge">{{user_notifications.number}}</span>
              {%else%}
              <span id="numOfNotifications" class="badge"></span>
              {%endif%}
            </a>
            <ul class="dropdown-menu" id="notificationDropdown">
                {% include 'user_notifications.twig' with {'array':user_notifications.array} %}
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" id = "friend_requests_button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-exclamation-circle fa-2x"></i>{% if friend_requests.number > 0%}<span id="numFriendRequests" class="badge">{{friend_requests.number}}</span>{%endif%}</a>
            <ul class="dropdown-menu" id="friendRequestDropdown">
                {% include 'friend_request.twig' with {'array':friend_requests.array} %}
            </ul>
        </li>
        <li><a href="{{base_url}}"><i class="fa fa-comment fa-2x"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench fa-2x"></i>&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {#<li><a href="#">Početna</a></li>
            <li><a href="#">Another action</a></li>#}
            <li><a href="#">Postavke</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{base_url}}/logout.php">Odjavi se</a></li>
          </ul>
        </li>
		
		<li>
		<a href="#menu-toggle" class="visible-xs" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
		</li>
		
      </ul>
    </div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>
