<div class="box" id="post" data={{post_ID}} data-a={{user_ID}}>
    
    
    <div class="row">
		<div class="col-md-12 post-user-info">
			<div class="col-md-2">
				<div class="user_avatar post"><a href="{{base_url}}/profile.php?id={{user_ID}}"><img class="center-block img-circle" src="{{base_url}}/{{user_avatar}}" /></a></div>
			</div>
			<div class="col-md-9">
				<div class="post_author_name"><a href="{{base_url}}/profile.php?id={{user_ID}}">{{author_name}} {{author_surname}}</a></div>	
				{% if get_user_info.collegeName is defined %} <div class="post_user_college">{{get_user_info.collegeName}}</div> {% endif %}
			</div>
			<div class="pull-right delete_post">
			        {% if not not_my_profile %}<button type="button" class="close del_post"><span aria-hidden="true">&times;</span></button>{% endif %}
			</div>
		</div>
		<div class="col-md-12 nopaddingsides">
			<div class="post_text"><pre>{{text}}</pre>
			<a href = "{{base_url}}/profile.php?id={{user_ID}}&post={{post_ID}}" class="link-datum pull-right"><div class="post_time"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{time}}</div></a>
			
			</div>
				
		</div>
    </div>
    <div class="row">
        <div class="c_container">
            <div class="post_comments_container">
                <div class="c_c"></div>
            </div>
            <div class="post_comment_textarea_container">
                <form>
                    <textarea class="post_comment_textarea" placeholder="Napiši komentar..."></textarea>
                </form>
            </div>
            <div class="load_post_comments"><span>
                    {% if numb_of_comms == 0 %}
                        0 komentara
                    {% elseif numb_of_comms == 1 %}
                        1 komentar
                    {% elseif numb_of_comms > 1 %}
                        {{numb_of_comms}} komentara
                    {% endif %}
    </span></div>
        </div>
    </div>
</div>