{# empty Twig template #}
<<<<<<< HEAD
<div class="comments" style="margin: 5px; border: 1px solid red">
    <div class="post_author_name">Author name: {{author_name}}</div></br>
    <div class="post_text">Text: {{text}}</div></br>
    <div class="post_time">Time: {{time}}</div></br>
    <div class="post_likes">Likes: {{likes}}</div></br>
=======
<div class="row comments">
    <div class="col-sm-1">
        <div class="user_avatar"><img src="{{user_avatar}}" /></div>
    </div>
    <div class="col-sm-11">
        <div class="post_author_name">Author name: {{author_name}}</div>
        <div class="post_text">Text: {{text}}</div>
        <div class="post_time">Time: {{time}}</div>
        <div class="post_likes">Likes: {{likes}}</div>
    </div>
>>>>>>> refs/remotes/origin/master
</div>