<ul class="popis-prijatelja">
    <li class="">
        <div class="user_avatar manji">
		{% if user_avatar %}
            <a href="{{base_url}}/profile.php?id={{user_ID}}"><img class="center-block img-circle" src="{{user_avatar}}" data-toggle="tooltip" data-placement="bottom" title="{{user_name}} {{user_surname}}"></a>
        {% else %}
		<a href="{{base_url}}/profile.php?id={{user_ID}}"><img class="center-block img-circle" src="{{base_url}}/page_imgs/default.jpg" alt="profile picture"></a>
		{% endif %}
		
		</div>
    </li>
</ul>