<div class="friend_container">    
    <div class="col-xs-3">
        <div class="col-xs-4">
            <div class="row">
                <div class="user_avatar">
                    <a href="{{base_url}}/profile.php?id={{user_ID}}"><img class="img-circle center-block" src="{{user_avatar}}" /></a>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="widget_name">
                    <a href="{{base_url}}/profile.php?id={{user_ID}}">{{user_name}} {{user_surname}}</a>
                </div>
                <div class="widget_opt">
                    <a class="dell_user_btn" data="{{user_ID}}"><span aria-hidden="true">&times;</span> Obriši</a>
                </div>
            </div>
        </div>
    </div>
</div>